<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    
    <h2>{{ student.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <select name="course">
            {% for course in available_courses %}
                <option value="{{ course.id }}">{{ course.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add Course</button>
    <ul>
        {% for course in student.courses.all %}
            <li>{{ course.name }}</li>
        {% endfor %}
    </ul>
    </form>
</body>
</html>
